* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  padding: 2rem;
}

.index {
  padding: 1rem;
  flex: 1;
}

.content {
  text-align: center;
  flex: 9;
}

span {
  border: 1px solid black;
  padding: 10px;
  color: rgb(119, 119, 119);
  margin: 10px;
  cursor: pointer;
}

span:hover {
  background-color: rgb(34, 118, 227);
  color: white;
}

ul li {
  padding: 0.5rem 1rem 0 0;
}

li {
  cursor: pointer;
}

li:hover {
  color: rgb(34, 118, 227);
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-container {
  padding: 30px;
  background-color: floralwhite;
}